SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5673
SPRING_RABBITMQ_USERNAME=username
SPRING_RABBITMQ_PASSWORD=password
SERVER_SSL_KEY_STORE_PASSWORD=keystore_password
SECURITY_JWT_ISSUER_URI=jwt_issuer_uri
SECURITY_ALLOWED_ORIGINS=allowed_origins